@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #1b2435;
    --second-bg-color: #323946;
    --second-bg-color: #323946;
    --main-color: #00f870;
    --white-color: #fff;
    --disabled-color: #fff3;
}
.section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 1rem 0% 1rem;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.home-detail {
    margin-top: 0; /* Removes any default top margin */
    padding-top: 0;
    margin-left: 50px;
    margin-right: 50px;
    /* Removes any padding if applied */
}

.home-detail h1 {
    font-size: clamp(0.8rem, 7vw, 4rem);
    color: var(--white-color);
    margin-top: 5px; /* Moves the text down */
    margin-left: 0px;
}

.home-detail h2 {
    font-size: 3.2rem;
    color: var(--white-color);
    margin-top: -1rem;
}

.home-detail h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 0.07rem var(--main-color);
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {
    25%,
    100% {
        display: none;
    }
}

.home-detail h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 0.2rem solid var(--main-color);
    color: var(--main-color);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
    10%,
    100% {
        width: 0;
    }
    70%,
    90% {
        width: 100%;
    }
}

.home-detail p {
    font-size: 1.6rem;
    color: var(--white-color);
    margin: 1rem 0 2.5rem;
}

.btn-sci {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 1rem 3rem;
    background: var(--main-color);
    border: 0.2rem solid var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--bg-color);
    font-weight: 500;
    transition: 0.5s;
    text-decoration: none;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    box-shadow: none;
}

.sci {
    margin-left: 2rem;
    display: flex;
    gap: 1rem;
}

.sci a {
    display: inline-flex;
    padding: 0.8rem;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    transition: 0.5s;
    text-decoration: none;
}

.sci a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.home-img .img-box {
    background: var(--bg-color);
    position: relative;
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 50px;
}
.home-img .img-box::before,
.home-img .img-box::after {
    content: "";
    position: absolute;
    width: 50rem;
    height: 50rem;
    background: conic-gradient(transparent, transparent, transparent, var(--main-color));
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}
.home-img .img-box::after {
    animation-delay: -5s;
}

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}
.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    border-radius: 50%;
    border: 0.01rem solid var(--bg-color);
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    position: absolute;
    top: 2rem;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}
/* //padding: [top] [right/left] [bottom]; */
