/* .navbar {
    display: flex;
    justify-content: flex-start;
    background-color: #333;
    padding: 10px;
}

.navbar-c {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
    margin-left: 0;
}

.navbar-c:hover {
    background-color: #575757;
    border-radius: 4px;
} */

@keyframes backgroundAnimation {
    0% {
        background-color: #18202e;
    }
    50% {
        background-color: #0d182b;
    }
    100% {
        background-color: #18202e;
    }
}

.navbar {
    display: flex;
    justify-content: flex-end; /* Align items to the left */
    align-items: center; /* Vertically center the links */
    background-color: #18202e;
    padding: 25px;
    position: relative;
    height: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow for depth */
    border-bottom: 2px solid #00f870; /* Adds a highlight at the bottom */
    transition: color 0.3s ease-in-out;
    animation: backgroundAnimation 5s infinite; /* Apply the background animation */
}

.navbar:hover {
    background-color: #0d182b;
    border-bottom: 2px solid #ffffff;
}

.navbar-c {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
    margin: 10px;
    margin-right: 10px;
    margin-top: 10px; /* Remove any margins */
    transition: color 0.3s ease-in-out;
}

.navbar-c:hover {
    color: #00f870;
}
.navbar-logo-container {
    margin-right: auto; /* Push the logo to the left */
}

.navbar-logo {
    color: white;
    font-size: 24px;
    margin-left: 60px;
    transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.navbar-logo:hover {
    color: #00f870;
    font-size: 30px;
}
